<ul>
  <li><a href="#"><h1><b>EXALOGIC</b></h1></a></li>
  <% if session[:user_type]=='admin'%>
    <li><a class="active" href="/users">Home</a></li>
    <li><a href="/users/new">Create Users</a></li>
  <% else %>
    <li><a class="active" href="#">Home</a></li>
  <% end%>

  <li><%= link_to "Logout", logout_path, method: :delete, data: {confirm: "Are you sure??"}%>
</li>
<div class="">
</ul>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Fname:</strong>
    <%= @user.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= @user.lname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @user.age %>
  </p>

  <p>
    <strong>Doj:</strong>
    <%= @user.doj %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= @user.contact %>
  </p>

  <p>
    <strong>Sal:</strong>
    <%= @user.sal.to_i %>
  </p>

  <p>
    <strong>Salpm:</strong>
    <%= @user.salpm %><%= (@user.sal/12).to_i%>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @user.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @user.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @user.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= @user.pincode %>
  </p>

  <p>
    <strong>Blood:</strong>
    <%= @user.blood %>
  </p>

  <p>
    <strong>Ename:</strong>
    <%= @user.ename %>
  </p>

  <p>
    <strong>Econtact:</strong>
    <%= @user.econtact %>
  </p>

  <p>
    <strong>Pskill:</strong>
    <%= @user.pskill %>
  </p>

  <p>
    <strong>Sskill1:</strong>
    <%= @user.sskill1 %>
  </p>

  <p>
    <strong>Sskill2:</strong>
    <%= @user.sskill2 %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <% if session[:user_type]=='admin'%>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  <% end%>

</div>
